// Quasar SCSS (& Sass) Variables
$primary   : #000000;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$grey-1    : #f8f9fa;
$grey-2    : #e9ecef;
$grey-3    : #dee2e6;
$grey-4    : #ced4da;
$grey-5    : #adb5bd;
$grey-6    : #6c757d;
$grey-7    : #495057;
$grey-8    : #343a40;
$grey-9    : #212529;